@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: '#ffffff';
  scroll-behavior: smooth;
}

.slick-track {
  display: flex !important;
  align-items: stretch !important;
  gap: 10px;
}

